/*
*公共区域CSS样式
*找这娃儿==>408240762
*/
*{ padding: 0px; margin: 0px; font-family: "微软雅黑"; }
.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }
body{ padding:20px; margin:0px;}
a:link {text-decoration: none; }
a:visited {text-decoration: none; }
a:hover {text-decoration: none; }
a:active {text-decoration: none; }
h1{ height:60px; margin:20px 0; font-size:24px; text-align: center;}
input{ width:140px;}
.code{ font-size:12px; color:#999; margin:20px 10px; border-left:2px solid #FC3; padding-left:10px;}
hr{ margin:30px 0; border:none; border-bottom:1px solid #CCC;}
h2{ margin:30px 0;}